@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common and utilities style */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: #9F9F9F;
}
.title{
    font-size: 24px;
    color: #562EFF;
    margin-top: 0px;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 870px;
    background-color: white;
    border-radius: 5px;
    padding: 33px 33px 30px 42px;
    margin-top: 36px;
}
hr{
    border: 1px solid #D1D1D1;
    margin: 20px 0px;
}

/*-----------------
   header style
------------------ */

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 94px;
    background-color:  #562EFF;
    margin: 0;
}
.nav-left{
    display: flex;
    align-items: center;
    
}
.nav-left a{
    font-size: 24px;
    text-decoration: none;
    color: white;
    margin-left: 15px;

}
.nav-right{
    display: flex;
    align-items: center;

}
.nav-right a{
    text-decoration: none;
    font-size: 16px;
    color: white;
    margin-right: 36px;
}
nav img{
    width: 50px;
    height: 50px;
    border-radius: 25px;
}
.nav-right a:hover{
    text-decoration: underline;
    color: gray;
}
/*----------header ends here */

/* -------top player and top blog starts here */
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 29px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
    border-radius: 28px;
}
.player h1{
    font-size: 18px;
    margin-left: 18px;
}

/* top player ends */

/* top blog starts here */
.blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 16px;
}
.blog{
    display: flex;
    align-items: center;
    
}
.blog .blog-thamb img{
    width: 177px;
    height: 117px;
    border-radius: 21px;
}
.blog-details{
    margin-left: 16px;
}
.blog-details h2{
    font-size: 20px;
}
.blog-details p{
    font-size: 16px;
    color:#9F9F9F;
}
.blog-details a{
    text-decoration: none;
}
/* blog ends here */